

<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
  ASK QUESTION
</button>

 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">

       <div class="modal-header">

         <h4 class="modal-title">Ask Question to :{)</h4>

       </div>

       <div class="modal-body text-center">
         <% picked_student = @batch.ask_question %>
         <h2><%= picked_student.name %></h2>
         <%= image_tag(picked_student.image_url,class: 'img-rounded',width: '150px', height: '150px') %>
       </div>

       <div class="modal-footer">
         <%=link_to "Close",batch_path(@batch) %>
       </div>

     </div>

   </div>
</div>
