
<div class = "row">

  <div class="panel panel-warning col-md-6 col-md-offset-3">

      <div class="panel-heading text-center">
        <h3>Batches</h3>
      </div>

      <div class="panel-body text-center">

        <table class = "table table-striped">
          <tr>
            <td class="columheader"> Batch </td>
            <td class="columheader"> Start Date </td>
            <td class="columheader"> End Date </td>
          </tr>


        <% @batches.each do |batch| %>
        <tr>
            <td><%= link_to "Batch #{batch.code}", batch_path(batch) %></td>
              <td> <%= batch.starts_at.strftime("%d/%m/%Y") %></td>
               <td> <%= batch.ends_at.strftime("%d/%m/%Y") %> </td>
          </tr>


        <% end %>

      </table>
      <p><%= link_to "Add new batch", new_batch_path, class: "btn btn-success" %></p>
      </div>

    </div>

</div>
